@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   background-color: #f0f0f0;
   font-size: 20px;
   display:flex;
   flex-direction: column;
   min-height:100vh;
}

.loader-container {
   width: 100%;
   height: 100vh;
   position: fixed;
   background: rgba(0, 0, 0, 0.834)
       url("https://media.giphy.com/media/8agqybiK5LW8qrG3vJ/giphy.gif") center
       no-repeat;
   z-index: 1;
}

.mapboxgl-popup {
   max-width: 400px;
   font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.text-primary {
   color:#1a2b49;
}